{% extends './base.html' %}
{% block title %} Регистрация {% endblock %}

{% block content %}
<div class="card-custom">
    <h2 class="page-title">Регистрация</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Логин</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="mb-3">
            <label>Пароль</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <div class="mb-3">
            <label>ФИО</label>
            {{ form.full_name }}
            {{ form.full_name.errors }}
        </div>

        <div class="mb-3">
            <label>Телефон</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>

        <div class="mb-3">
            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Создать пользователя
        </button>
    </form>
</div>
{% endblock %}